<h1> Welcome, <%= @name %>!</h1> 
<h1>Would you like to book a space?</h1>

<form  action="/spaces/new" method="get">
  <input type="submit" value="List a space" />
  </form>

  <form action ='/listing/availability' method ='get' >
    <input type ='date' name ='start_date'>
    <input type ='date' name ='finish_date'>
    <input type ='submit' value ='Check availability'>
  </form>

  <% @listing.each do |space| %>
  <div class ='listing'>
    <div class ='image'>image of property</div>
    <div class ='main_info'>
      <span class ='name'><%= space.name %></span>
      <span class ='description'><%=space.description%></span>
      <p class ='host'>Hosted by <%=@name%></p>
      <span class ='price'>£<%=space.price%> per night</span>
      <span class ='availability'>Available from <b><%=space.start_date%></b> to <b><%=space.start_date%></b></span>
    </div>
  </div>
  <%end%>

  <style>

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ddd;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .listing {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid #777;
  }

   input {
    padding: 10px;
    border: none;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    width: 240px;
    box-shadow: 1px 1px 1px #777;
  }

  .main_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
  }

  .image {
    height: 80%;
    width: 60%;
    border-radius: 5px;
    background-color: white;
  }

  .name, .description {
    font-size: 1.4rem;
  }

  </style>