<head>
<title>MakersBnB</title>
 <link rel="icon" href="https://i.imgur.com/nDkbAZs.png">
 <!-- Font -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--  Bootstrap -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



<!-- favcon icon -->
 <script src="https://kit.fontawesome.com/78b204e6a3.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
  <img src="https://i.imgur.com/IdpwQZw.png" alt="MakersBnB" width="40" height="40">
  <div>
    <p> Logged in as, <%= @user.guest_name %>! </p> 
    <form action ='/logout' method ='post'>
     <button class="btn nav-btn" type="‘submit’" name="‘log_out’" value="‘Log" out’="">Log out</button>
    </form>
  </div>
</header>

<section>
<h1>Would you like to book a space?</h1>
<form class ='available' action ='/spaces/availability' method ='post' >
    <input class ='date' type ='date' name ='start_date' required>
    <input class ='date' type ='date' name ='finish_date' required>
    <button type ='submit' name ='available' value ='Check availability'>Check availability</button>
  </form>

<form  action="/spaces/new" method="get">
  <button type="submit" value="List a space" >List a space</button>
  </form>

  <form action ='/spaces/all' method ='post' >
    <button type ='submit' name ='listing' value ='View all spaces'>View all spaces</button>
  </form>
  </section>

  <%# Each space when user clicks availability %>
<div id ='spaces'></div>
  <% if params[:available] %>
    <% @available.each do |space| %>
      <div class ='listing'>
      <div class ='image'>image of property</div>
      <div class ='main_info'>
        <span class ='name'><%= space.name %></span>
        <span class ='description'><%=space.description%></span>
        <p class ='host'>Hosted by <%= space.guest_id %></p>
        <span class ='price'>£<%=space.price%> per night</span>
        <span class ='availability'>Available from <b><%=space.start_date%></b> to <b><%=space.finish_date%></b></span>
      </div>
        <form action ='/spaces/<%= space.id %>/booking' method ='get' >
          <button class ='btn_book' type ='submit' name ='book' value ='<%= space.id %>'>Book</button>
        </form>
    </div>
    <%end%>
  <%end%>

  <%# Each space when user clicks view all listings %>

  <% if params[:listing] %>
  <% @listing.each do |space| %>
  <div id ='spaces' class ='listing'>
    <div class ='image'>image of property</div>
    <div class ='main_info'>
      <span class ='name'><%= space.name %></span>
      <span class ='description'><%= space.description %></span>
      <p class ='host'>Hosted by <%= space.guest_id %></p>
      <span class ='price'>£<%=space.price%> per night</span>
      <span class ='availability'>Available from <b><%=space.start_date%></b> to <b><%=space.finish_date%></b></span>
    </div>
      <form action ='/spaces/<%= space.id %>/booking' method ='get' >
        <button class ='btn_book' type ='submit' name ='book' value ='<%= space.id %>'>Book</button>
      </form>
    </div>
   </div>
  </div>
  <%end%>
  <%end%>

</body>
  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 0;
    margin: 0;
    scroll-behaviour: smooth;
  }

  a {
    text-decoration: none;
    border: none;
    list-style: none;
    color: #444;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 55px;
    background-color: #ffd3b5;
  }

  section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://news.airbnb.com/wp-content/uploads/sites/4/2020/04/Airbnb_France_Medieval_Village.jpg?fit=1024%2C576&resize=1920%2C1080");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    animation: scale;
  }

  .btn_book {
    background-color: #333;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
  }

  input:focus {
  outline: none;
  }

  .header_btn {
    width: 80px;
    height: 35px;
    border-radius: 100px;
    border: none;
    background-color: #222;
    color: white;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .nav-btn:hover {
  background-color: #00A699;
  color: white;
 } 
  .logo {
    height: 40px;
    width: 50px;
  }

  .n {
    color: orange;
    font-size: 1.2rem;
  }

  header p {
    margin: 15px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .listing {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 270px;
    border-bottom: 1px solid #777;
  }

  .btn_book:hover, .header_btn {
    border-radius: 20px;
    transition: .1s ease-in-out;
    border: none;
    transform: scaleX(1.05);
  }

   input, button {
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #f2f2f2;
    margin: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #444;
    width: 200px;
    font-weight: 600;
  }

  .main_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
  }

  .available {
    display: flex;
  }

  .image {
    height: 80%;
    width: 60%;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  .description {
    font-size: 1.4rem;
  }

  .name {
    font-size: 1.7rem;
    font-weight: 500;
  }

  h1 {
    font-weight: 500;
    font-size: 3.8rem;
    letter-spacing: -0.02em;;
    color: #222;
  }
</style>