<h1> Welcome, <%= @name %>! Would you like to book a space?</h1>

<form  action="/spaces/new" method="get">
  <input type="submit" value="List my spaces" />
  </form>
<form action ='/spaces/all' method ='post'>
  <input type ="submit" value="view spaces" name ='list_new_space'>
</form>

  <% if params[:list_new_space] %>
  <% @listing.each do |space| %>
  <div>
  <%=space.name%>
  <%=space.description%>
  <%=space.price%>
  <%=space.start_date%>
  </div>
  <%end%>
  <%end%>

  <style>
  div {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }